body {
    background-image: radial-gradient(  rgb(203, 203, 203),rgb(251, 250, 214),rgb(79, 70, 52));
    min-height: 100vh;
    display: flex;
    

     }

#root {
        flex-grow: 1;
        display:flow-root;
        justify-content: center;
        align-items: center;
      
      }

.App {
        width: auto;
         height: auto;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background-size: contain;
         text-align: center;
         
     }

.fas {
        color:rgb(163, 255, 3);
        font-size: 14px;

     }
button{
    line-height: var(--h);
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);
    border: none;

background: 
linear-gradient(#eea301 0 0) 
bottom/100% var(--_d, 0) no-repeat;
overflow: hidden;
transition: 0.6s

}

button:hover {
    --_d: 100%;
    --_t: 0;
    --_c: rgb(255, 250, 250);

}
/* csstricks.com */
i   {
    line-height: var(--h);
    color:rgb(163, 255, 3);
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);
      
    background: 
    linear-gradient(#eea301 0 0) 
    bottom/100% var(--_d, 0) no-repeat;
    overflow: hidden;
    transition: 0.6s

    }

i:hover {
        --_d: 100%;
        --_t: 0;
        --_c: rgb(255, 250, 250);
        
      }

img {
    content: "";
        box-shadow: 0 0 10px 10px rgb(171, 171, 171);
        display:inline;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 10px;
        position: relative;
        
        
        
    }  
 img:hover {
    /* height: 450px; */
    width: auto;
    position:relative;
   
    bottom: 500px;
    opacity: 5;
    bottom: 1%;
    /* z-index: 99; */
    box-shadow: 0 0 10px 10px rgb(188, 157, 17);
    
    
    
 }   
    
.navigation {
        box-shadow: 0 0 10px 10px rgb(171, 171, 171);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

            }

/* button{
    border:grey;
    
      } */

/* .login {
    box-shadow: 0 0 10px 10px  rgb(171, 171, 171);
    
       } */
/* 
.grid-container {
        display: grid;
        gap: 50px 100px;
        grid-template-columns: auto auto auto;        
        padding: 10px;

                }
      
.grid-item {           
        font-size: 16px;
        text-align: center;
        align-items: center;

            }

 */

 .profile-header{
    background-color: white;
    width:100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px black;
 }
 
 .profile-img{
    float:left;
    width:340px;
    height:200px;
}

.profile-img img {
    border-radius: 50%;
    height: 203px;
    width: 230px;
    border:4px solid  #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,.2);
    position: absolute;
    left:50px;
    top:20px;
    z-index: 5;
}

.profile-nav-info{
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
    margin-left: 250px;
    
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight:bold;
}

.user-options-edit{
    width:40px;
    height: 40px;
    position: relative;
    transform: translateY(370%);
    justify-content: center;
    cursor: pointer;
    left:260px;
}

.user-options-delete{
    width:40px;
    height: 40px;
    position: relative;
    transform: translateY(370%);
    justify-content: center;
    cursor: pointer;
    left:280px;
}

/* .user-main{
    background-color: white;
    width:100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px black;
    right: 57.2%;
    top: 110%;
    
}

.profile-side{
    width:100%;
    display: flex;
    height: 190px;
} */