body {
    background-image: radial-gradient(  rgb(186, 186, 186),white,rgb(120, 105, 76));
    min-height: 100vh;
    display: flex;

     }

#root {
        flex-grow: 1;
        display:flow-root;
        justify-content: center;
        align-items: center;
      
    }

.App {
        width: auto;
         height: auto;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background-size: contain;
         text-align: center;
         
     }

.fas {
        color:rgb(228, 182, 18);
        font-size: 24px;

     }

i {
        color:rgb(228, 182, 18);
     }

     
@media screen and (max-width:600px){

    }   