body {
    background-image: radial-gradient(  rgb(186, 186, 186),white,rgb(120, 105, 76));
    min-height: 100vh;
    display: flex;

     }

#root {
        flex-grow: 1;
        display:flow-root;
        justify-content: center;
        align-items: center;
      
      }

.App {
        width: auto;
         height: auto;
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: center;
         background-size: contain;
         text-align: center;
         
     }

.fas {
        color:rgb(228, 182, 18);
        font-size: 14px;

     }

i   {
        color:rgb(228, 182, 18);
        text-shadow: 1px 1px 2px red, 0 0 1em rgb(171, 171, 171), 0 0 0.2em rgb(171, 171, 171);

    }

img {
        box-shadow: 0 0 10px 10px rgb(171, 171, 171);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        
    }  
    
.navigation {
        box-shadow: 0 0 10px 10px rgb(171, 171, 171);

            }

button{
    border:none;
    
      }

.login {
    box-shadow: 0 0 10px 10px  rgb(171, 171, 171);
    
       }